In [2]:
from sas7bdat import SAS7BDAT
import pandas as pd
reader = SAS7BDAT('/Users/mingjiexing/Downloads/Master_Relationship_201410/relationmast_pub_00.sas7bdat')

df = pd.DataFrame(reader)

df

,0,1,2,3,4,5,6,7,8
0,hhid,IDind_1,IDind_2,SEX_1,SEX_2,REL_1,REL_2,Rel_type,MP
1,111101001.0,111101001001.0,111101001002.0,1.0,2.0,1.0,1.0,None,None
2,111101003.0,111101003001.0,111101003002.0,1.0,2.0,1.0,1.0,None,None
3,111101004.0,111101004001.0,111101004002.0,1.0,2.0,1.0,1.0,None,None
4,111101005.0,111101005002.0,111101005001.0,1.0,2.0,1.0,1.0,None,None
...,...,...,...,...,...,...,...,...,...
82730,452402042.0,452402042001.0,452402042101.0,2.0,1.0,2.0,12.0,1.0,None
82731,522301010.0,522301103001.0,522301103002.0,1.0,2.0,1.0,1.0,None,None
82732,522301010.0,522301103001.0,522301103003.0,1.0,1.0,2.0,12.0,1.0,None
82733,522403020.0,522403101001.0,522403020141.0,1.0,1.0,2.0,12.0,1.0,None
82734,522403020.0,522403101002.0,522403020141.0,2.0,1.0,2.0,12.0,1.0,None