In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Read the .dta file
df = pd.read_stata('appendix-dataset.dta')

# Display the dataframe
df.describe()

,sales_raw,num_aff_raw,stocks,gross_prod_nonfin_d,num_aff_MandA,sales_MandA,sales_stocks,gdp_d,rgdpl_d,cborder,colony,clanguage,distance,trade_goods,absorption_d
count,2311.000000,2232.000000,3181.000000,3.422000e+03,2684.000000,2.694000e+03,2.730000e+03,3.422000e+03,3422.000000,3417.000000,3417.000000,3417.000000,3417.000000,3.300000e+03,3.422000e+03
mean,2897.062155,40.237455,1131.748446,7.240485e+11,40.811104,2.638988e+09,2.546514e+09,4.963205e+11,16854.523438,0.035996,0.025754,0.099502,7316.977539,1.394390e+09,7.233387e+11
std,20137.669295,206.638488,7932.733765,1.805551e+12,190.439453,1.869285e+10,1.855238e+10,1.300813e+12,11105.680664,0.186309,0.158422,0.299379,4931.926758,6.769097e+09,1.818323e+12
min,0.000000,0.000000,-68.099998,5.013115e+09,0.000000,0.000000e+00,0.000000e+00,2.720863e+09,1813.066528,0.000000,0.000000,0.000000,59.617229,0.000000e+00,5.177000e+09
25%,0.000000,0.000000,0.000000,5.012295e+10,0.000000,0.000000e+00,0.000000e+00,2.977306e+10,6987.754395,0.000000,0.000000,0.000000,2313.671143,1.094610e+07,4.796000e+10
50%,0.000000,0.000000,0.000000,2.008655e+11,0.000000,0.000000e+00,0.000000e+00,1.337820e+11,11989.082031,0.000000,0.000000,0.000000,7831.140625,8.994320e+07,1.986000e+11
75%,0.802299,0.000000,46.616669,5.943852e+11,11.000000,1.525716e+08,9.742002e+07,4.007245e+11,28320.351562,0.000000,0.000000,0.000000,10486.500977,6.038460e+08,5.690000e+11
max,430225.250000,3487.000000,191281.000000,1.224419e+13,3487.000000,4.302253e+11,4.302253e+11,9.030383e+12,43742.468750,1.000000,1.000000,1.000000,19772.335938,1.887030e+11,1.241900e+13

In [4]:
df

,ISO_o,ISO_d,sales_raw,num_aff_raw,stocks,gross_prod_nonfin_d,num_aff_MandA,sales_MandA,sales_stocks,gdp_d,rgdpl_d,cborder,colony,clanguage,distance,trade_goods,absorption_d
0,AUS,ARG,NaN,NaN,816.200012,4.382323e+11,11.0,1.221395e+08,3.057319e+08,2.833968e+11,8950.205078,0.0,0.0,0.0,11801.364258,8.703720e+07,4.402000e+11
1,AUT,ARG,13.200000,NaN,30.199999,4.382323e+11,13.0,1.320000e+07,1.320000e+07,2.833968e+11,8950.205078,0.0,0.0,0.0,11833.758789,1.051528e+08,4.402000e+11
2,BEL,ARG,240.699997,NaN,NaN,4.382323e+11,20.0,2.407000e+08,2.407000e+08,2.833968e+11,8950.205078,0.0,0.0,0.0,11326.756836,2.534612e+08,4.402000e+11
3,BGR,ARG,0.000000,0.0,0.000000,4.382323e+11,0.0,0.000000e+00,0.000000e+00,2.833968e+11,8950.205078,0.0,0.0,0.0,11954.841797,1.270960e+07,4.402000e+11
4,BLR,ARG,0.000000,0.0,0.000000,4.382323e+11,0.0,0.000000e+00,0.000000e+00,2.833968e+11,8950.205078,0.0,0.0,0.0,12819.335938,3.020667e+06,4.402000e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3417,TUN,ZAF,0.000000,0.0,0.000000,2.150317e+11,0.0,0.000000e+00,0.000000e+00,1.352305e+11,5695.211914,0.0,0.0,0.0,7922.628906,5.991400e+06,2.141000e+11
3418,TUR,ZAF,NaN,NaN,NaN,2.150317e+11,NaN,NaN,NaN,1.352305e+11,5695.211914,0.0,0.0,0.0,8412.611328,5.567060e+07,2.141000e+11
3419,URY,ZAF,0.000000,0.0,0.000000,2.150317e+11,0.0,0.000000e+00,0.000000e+00,1.352305e+11,5695.211914,0.0,0.0,0.0,6679.382324,1.075680e+07,2.141000e+11
3420,USA,ZAF,12873.200195,178.0,2740.666748,2.150317e+11,178.0,1.287320e+10,1.287320e+10,1.352305e+11,5695.211914,0.0,0.0,1.0,12581.720703,3.494229e+09,2.141000e+11
3421,VEN,ZAF,0.000000,0.0,0.000000,2.150317e+11,0.0,0.000000e+00,0.000000e+00,1.352305e+11,5695.211914,0.0,0.0,0.0,10253.688477,1.418000e+06,2.141000e+11